<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>
            ARG
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/greeting-style.css}">
    </head>
    <body>
        <div class="row">
            <div class="col">
                <img
        th:src="@{../kepoco.jpeg}"
        alt="Kepoco"
        class="hidden-image"
        data-hiddenattribute="thisishidden"
        data-secret="this is a secret"
        data-id="1245"
        style="display: block; margin: auto">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Clue here -->
                 <br>
                 <br>
        <audio alt="my-secret-key" controls style="display: block; margin: auto">
            <source th:src="@{/main website monologue.mp3}" type="audio/mpeg" style="display: block; margin: auto">
            Your browser does not support audio files.
        </audio>
        <br>
        <audio controls style="display: block; margin: auto">
            <source th:src="@{/stop doing what youre told.mp3}" type="audio/mpeg" style="display: block; margin: auto">
            Your browser does not support audio files.
        </audio>
        <br>
        <br>
        <p style="text-align: center; font-size: 40px"><span th:text="${encrypted}" style="display: block; margin: auto"></span></p>
        <p style="text-align: center; font-size: 40px"><span th:text="${iv}" style="display: block; margin: auto"></span></p>
        <div id="encrypted-data" 
        th:attr="data-ciphertext=${encrypted}, data-iv=${iv}" 
        style="display: none"></div>
        <p id="decrypted" style="display: none"></p>
        <input type="text" id="user-guess" class="form-control" style="display: block; margin: auto">
        <br>
        <br>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script type="module" th:src="@{/script.js}"></script>
    </body>
</html>