<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>
            ARG
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/greeting-style.css}">
    </head>
    <body>
        <!-- Clue here -->
        <img
        th:src="@{../kepoco.jpeg}"
        alt="Kepoco"
        class="hidden-image"
        data-hiddenattribute="thisishidden"
        data-secret="this is a secret"
        data-id="1245">
        <audio autoplay controls>
            <source th:src="@{/voice.mp3}" type="audio/mpeg">
            Your browser does not support audio files.
        </audio>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>