body {
    background-color: #002147 !important;
    background-image: linear-gradient(315deg, #002147 0%, #3b3c36 74%) !important;
    background-size: 200% 200%;
    animation: gradientShift 6s ease infinite;
}

img.hidden-image {
    width: 400px;
    padding: 10px;
}